*{
    padding: 0;
    margin: 0;
}
body  {
    background-color: rgb(154, 72, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* contenedor de la pagina*/
.contenedorn  {
    display: flex;
flex-direction: column;
align-items: center;
gap: 30px;
padding: 20px;}
/* tarjeta de presentacion*/
.tarjeta{
    background-color: rgb(198, 124, 155);

width: 250px;
border-radius: 40px;

display: flex;
flex-direction: column;

padding: 20px;
justify-content: space-around;

gap: 15px;
}
img{
    width: 150px;
    align-self: center;
    border-radius: 30px;

}

h1 {
     font-size:20px;
     text-align: center;
     color: rgb(222, 157, 157);
}

p{
    font-size: 14px;
    text-align: justify;
    color:black; 
    line-height: 1.5;
}

a{ 
    color: rgb(103, 7, 23);
    text-align: right;
    text-decoration: none;
    transition: color 0.3s;
}
/* botos ver mas*/
.btn-ver-mas{
    display: inline-block;
    padding: 15px 35px;

    background-color: linear-gradient(135deg, rgba(33, 8, 40, 0.2), #000 );
    color: rgb(69, 23, 51);
    text-decoration: none;

    border-radius: 30px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;

    transition: all 0.3s ease;

    box-shadow: 0 4px 15px rgb(103, 7, 23);
}
.btn-ver-mas:hover{
    transform: translateY(-3px);
    box-shadow: 0 8px 25px rgb(154, 72, 230);
    background: linear-gradient( 135deg,rgb(180, 1, 111), #e674db);

}
